@model EventSystem.Web.Models.Manage.ChangePasswordViewModel
@{
    ViewBag.Title = Resources.Global.ChangeAccountPassword;
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<h4>@ViewBag.Title</h4>

@using (Ajax.BeginForm("ChangePassword", "Manage", new AjaxOptions { HttpMethod = "POST", OnComplete = "onChangePasswordClickSuccess" }, new { id = "changePasswordForm", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@Resources.Global.Change" class="btn btn-default" />
        </div>
    </div>
}

<div id="changePasswordMessageContainer"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function onChangePasswordClickSuccess(data) {
        debugger;
        var alertMessageElement = "<div class='alert alert-" + data.responseJSON.alertType + "'><strong>" + data.responseJSON.alertMsg + "</strong></div>";
        $("#changePasswordMessageContainer").append(alertMessageElement);
        app.clearTextFieldsInForm("changePasswordForm");
        setTimeout(function () {
            $($("#changePasswordMessageContainer .alert")).fadeOut(200);

        }, 3000);
    }
</script>